<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Liste personnages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
    <h1 th:utext="${personnage.name}"></h1>
    <h2 th:utext="${personnage.type}"></h2>
    <div><a th:href="@{'/modifierPersonnages/' + ${personnage.id}}">Modifier</a></div>
    <div><a th:href="@{'/supprimerPersonnages/' + ${personnage.id}}">Supprimer</a></div>
</body>

</html>